<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="themes/archi/css/archi.css"
            id="com.archimatetool.editor.theme"
            label="Archi">
      </theme>
      <theme
            basestylesheeturi="themes/dark/css/e4-dark.css"
            id="org.eclipse.ui.theme.e4_dark"
            label="Dark">
      </theme>
		
        <stylesheet
        	uri="themes/dark/css/e4-dark.css">
       		<themeid
            	refid="org.eclipse.ui.theme.e4_dark">
       		</themeid>
  		</stylesheet>
        <stylesheet
            uri="themes/archi/css/archi.css">
            <osgiresourcelocator
                uri="platform:/plugin/com.archimatetool.editor.themes/themes/archi/images/">
            </osgiresourcelocator>
            <themeid
                refid="com.archimatetool.editor.theme">
            </themeid>
        </stylesheet>
   </extension>
   
</plugin>
